$color1: #FCF9E9;
$color2: #BFA10A;
$color3: #020126;
$color4: rgba(62, 63, 89, 1);
$font1: assistant;
$font2: zingendeB;
$pad1: 3em;
$pad2: 1em;

@font-face {
  font-family: assistant;
  src: url("../fonts/assistant-v4-latin-regular.woff");
}
@font-face {
  font-family: zingendeB;
  src: url("../fonts/ZingendeW00Bold.woff");
}
@font-face {
  font-family: zingendeL;
  src: url("../fonts/Zingende\ W00\ Light.ttf");
}

/* ------------- HOME PAGE ----------------*/




/* ----------- PROJECT GUIDELINES ------------*/
/*
Css variables--
Css preprocessors--
Box sizing--
Css transforms
Css transitions
Css animations
Styling images
Css flex box 
Html 5 boilerplate--
Favicon--
*/