$color1: #f2f2f2;
$color2: #707070;
$color3: #1A1818;
$color4: #2466B3;
$color5: #CCAD58;
$color6: #C63C3C;

$pad1: 1em;
/* 16px */
$pad2: 5em;
/* 80px */

/* ------- FONTS -------------
Fonts added:
Century Gothic Pro Bold 

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: normal;

Century Gothic Pro Bold Italic

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: italic;

Century Gothic Pro Italic

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: italic;

Century Gothic Pro Regular

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: normal;

Gautreaux Light

font-family: gautreaux, sans-serif;
font-weight: 300;
font-style: normal;

Gautreaux Bold

font-family: gautreaux, sans-serif;
font-weight: 700;
font-style: normal; */

/* ------------- HOME PAGE ----------------*/
*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $color1;
  height: 100vh;
}

/*--------NAVIGATION-----------*/
header {
  background: $color1;
  color: $color3;
  font-weight: 700;
  font-style: normal;
  padding: $pad1;
  display: flex;
 justify-content: space-between;
  overflow: hidden;
}

.pageTitle {
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4em;
  // padding: $pad1;
}

a.logo {
  text-decoration: none;
  font-weight: bold;
  margin: 0 .5em 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: $color2;
  width: 66%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(50%);
  transition: all .5s;
}

.open {
  margin: 0;
  padding: 10px;
  background-color: $color3;
  border-radius: 50%;
}

.exit {
  width: 1em;
  float: right;
  margin: .5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4em;
}

li a {
  color: $color1;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}

.open {
  cursor: pointer;
  margin: .5em;
}

li a:hover {
background: $color4;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

.submenu {
  padding: 0 1em;
}

.submenu p {
  margin: 1em 0 1em 1em;
  color: $color3;
  line-height: 1.4em;
}

.submenu ul {
  margin: 1em 0 1em;
}

.submenu a {
  color: $color3;
  background: none;
}

.submenu a:hover {
  background: none;
}

li a {
  background: $color3;
  margin-top: 2px;
}




/* ----------- PROJECT GUIDELINES ------------*/
/*
Css variables--
Css preprocessors--
Box sizing--
Css transforms
Css transitions
Css animations
Styling images
Css flex box 
Html 5 boilerplate--
Favicon--
*/
