/* 16px */
/* 80px */
/* ------- FONTS -------------
Fonts added:
Century Gothic Pro Bold 

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: normal;

Century Gothic Pro Bold Italic

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: italic;

Century Gothic Pro Italic

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: italic;

Century Gothic Pro Regular

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: normal;

Gautreaux Light

font-family: gautreaux, sans-serif;
font-weight: 300;
font-style: normal;

Gautreaux Bold

font-family: gautreaux, sans-serif;
font-weight: 700;
font-style: normal; */
/* ------------- HOME PAGE ----------------*/
*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  height: 100vh;
}

/*--------NAVIGATION-----------*/
header {
  position: fixed;
  width: 95vw;
  height: 10vh;
  background: none;
  color: #1a1818;
  font-weight: 700;
  font-style: normal;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.blur {
  margin-top: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 13vh;
  width: 100vw;
  z-index: initial;
}

.pageTitle {
  position: relative;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 5vh;
  color: #1a1818;
  z-index: 3;
}

a.logo {
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.5em 0;
  z-index: 2;
}

nav {
  top: 0;
  right: 1em;
  float: right;
  position: fixed;
  height: 100vh;
  background: #707070;
  width: 25%;
  visibility: hidden;
  opacity: .80;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
}

.open {
  margin: 0;
  padding: 10px;
  background-color: #1a1818;
  border-radius: 50%;
  height: 5vh;
}

.exit {
  width: 2em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4em;
}

li a {
  color: #f2f2f2;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.open {
  cursor: pointer;
  margin: 0.5em;
}

li a:hover {
  background: #2466b3;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.submenu {
  padding: 0 1em;
}

.submenu p {
  margin: 1em 0 1em 1em;
  color: #1a1818;
  line-height: 1.4em;
}

.submenu ul {
  margin: 1em 0 1em;
}

.submenu a {
  color: #1a1818;
  background: none;
}

.submenu a:hover {
  background: none;
}

li a {
  background: #1a1818;
  margin-top: 2px;
}

/*-------------HOME PAGE------------*/
.welcome h2 {
  padding: 2.5em 0px 0px 0px;
  font-family: gautreaux, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  color: #1a1818;
  z-index: -2;
}

.welcome p {
  margin: auto;
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #1a1818;
  width: 40%;
  z-index: -2;
}

.homepageMenu {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
  right: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f2f2f2;
  color: #1a1818;
  text-align: center;
  z-index: -2;
}

.column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  padding: 5px;
  margin: auto;
  width: 300px;
  background-color: #f2f2f2;
  color: #1a1818;
}

.column img {
  border-radius: 50%;
  margin-top: 10px;
  min-width: 300px;
}

.column a {
  text-decoration: none;
  color: #1a1818;
}

.column h3 {
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.column img:hover {
  border: solid 2px #707070;
  -webkit-box-shadow: 2px 2px 5px #707070, 2px 2px 5px #707070, 2px 2px 5px #707070;
          box-shadow: 2px 2px 5px #707070, 2px 2px 5px #707070, 2px 2px 5px #707070;
  text-align: center;
}

/*---------------ABOUT ME-------------*/
.aboutMenu {
  width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f2f2f2;
  color: #1a1818;
  margin: auto;
  padding: 0 10px;
  z-index: -2;
}

.columnA {
  width: 300px;
  padding: 5px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  color: #1a1818;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 5px;
}

.columnA h3 {
  margin-top: 1em;
  text-align: center;
}

.columnA img {
  border-radius: 50%;
  margin-top: 10px;
}

.columnA p {
  margin-top: 10px;
}

.columnA a {
  text-decoration: none;
}

#digitalArt h2 {
  margin-bottom: 5px;
}

/*----------DIGITAL ART----------*/
.digitalMenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  padding: 5px;
  margin: auto;
  background-color: #f2f2f2;
  color: #1a1818;
}

/*---------------FOOTER---------------*/
footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 7vh;
  margin-top: 10px;
  background-color: #1a1818;
  z-index: 1;
  padding-bottom: 30px;
}

footer h3 {
  color: #f2f2f2;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  display: inline;
}

#footer-section a {
  width: 50px;
  height: 50px;
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer-section i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer-section h3 {
  color: #1a1818;
}

#footer-section h3:hover {
  color: #f2f2f2;
}

#footer-section a img {
  margin-top: 0;
  width: 50px;
  height: 50px;
}

.footerIcon {
  height: 50px;
  margin-bottom: 0;
  padding: 0px 0px 10px 0px;
}

/* ----------- PROJECT GUIDELINES ------------*/
/*
Css variables--
Css preprocessors--
Box sizing--
Css transforms
Css transitions
Css animations
Styling images
Css flex box 
Html 5 boilerplate--
Favicon--
*/
/*# sourceMappingURL=style.css.map */