$color1: #f2f2f2;
$color2: #707070;
$color3: #1a1818;
$color4: #2466b3;
$color5: #ccad58;
$color6: #c63c3c;

$pad1: 1em;
/* 16px */
$pad2: 5em;
/* 80px */

/* ------- FONTS -------------
Fonts added:
Century Gothic Pro Bold 

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: normal;

Century Gothic Pro Bold Italic

font-family: century-gothic, sans-serif;
font-weight: 700;
font-style: italic;

Century Gothic Pro Italic

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: italic;

Century Gothic Pro Regular

font-family: century-gothic, sans-serif;
font-weight: 400;
font-style: normal;

Gautreaux Light

font-family: gautreaux, sans-serif;
font-weight: 300;
font-style: normal;

Gautreaux Bold

font-family: gautreaux, sans-serif;
font-weight: 700;
font-style: normal; */

/* ------------- HOME PAGE ----------------*/
*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $color1;
  height: 100vh;
}

/*--------NAVIGATION-----------*/
header {
  position: fixed;
  width: 95vw;
  height: 5em;
  background: none;
  color: $color3;
  font-weight: 700;
  font-style: normal;
  padding: $pad1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.pageTitle {
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4em;
}

a.logo {
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.5em 0;
}

nav {
  top: 0;
  right: $pad1;
  float: right;
  position: fixed;
  height: 100vh;
  background: $color2;
  width: 25%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.5s;
  z-index: 1;
}

.open {
  // position: fixed;
  margin: 0;
  padding: 10px;
  background-color: $color3;
  border-radius: 50%;
}

.exit {
  width: 2em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4em;
}

li a {
  color: $color1;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.open {
  cursor: pointer;
  margin: 0.5em;
}

li a:hover {
  background: $color4;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

.submenu {
  padding: 0 1em;
}

.submenu p {
  margin: 1em 0 1em 1em;
  color: $color3;
  line-height: 1.4em;
}

.submenu ul {
  margin: 1em 0 1em;
}

.submenu a {
  color: $color3;
  background: none;
}

.submenu a:hover {
  background: none;
}

li a {
  background: $color3;
  margin-top: 2px;
}

/*-------------HOME PAGE------------*/

.welcome h2 {
  padding: 3em 10px 10px;
  font-family: gautreaux, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  color: $color3;
  text-align: center;
  z-index: -1;
}

.welcome p {
  padding: 10px 10px;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: $color3;
  text-align: center;
  z-index: -1;
}

.homepageMenu {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  right: 1em;
  flex-flow: wrap;
  justify-content: space-evenly;
  z-index: -1;
  background-color: #f2f2f2;
  color: $color3;
  text-align: center;
}
.column {
  flex: 90%;
  max-width: 30%;
  max-height: 160px;
  padding: 10px;
  align-items: center;
  // width: 100px;
  background-color: #F2F2F2;
  img {
    border-radius: 50%;
  }
}

/* ----------- PROJECT GUIDELINES ------------*/
/*
Css variables--
Css preprocessors--
Box sizing--
Css transforms
Css transitions
Css animations
Styling images
Css flex box 
Html 5 boilerplate--
Favicon--
*/
